@model List<RegistrationInfo>

@{
    ViewData["Title"] = "Registered Courses";
}
<style>
    .link-box {
        border: 2px solid #007bff; /* Add border */
        padding: 15px 20px; /* Add padding */
        width: fit-content; /* Make the box size fit the content */
        display: inline-block; /* Display the box as an inline block */
        text-align: center; /* Center the text horizontally */
        background-color: #fff; /* Set background color */
        color: #007bff; /* Set text color */
        border-radius: 5px; /* Add border radius */
        text-decoration: none; /* Remove underline from links */
        transition: all 0.3s ease; /* Add transition effect */
    }

        .link-box:hover {
            background-color: #007bff; /* Change background color on hover */
            color: #fff; /* Change text color on hover */
        }

    body {
        background: linear-gradient(to bottom, #F0F8FF, #C0C0C0);
    }

    .header-right {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 20px;
    }

    h4 {
        font-size: 36px;
        color: #007bff;
        text-align: center;
        margin-top: 50px;
    }
</style>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<header>
    <div class="header-right">
        <a href="@Url.Action("Logout", "Logout")">Logout</a>
    </div>
</header>
<body>
   
        <div>
            @if (Model.Any())
            {
                <br />
                <h4>Courses Registered for @ViewBag.StudentName</h4>
            }
            else
            {
                <h4>No Courses Registered</h4>
            }
            <hr />
            <table class="table">
                <tr>
                    <th>Registration ID</th>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Date Registered</th>
                </tr>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.RegistrationID</td>
                        <td>@course.CourseID</td>
                        <td>
                            @foreach (var reg in course.CoursesRegistered)
                            {
                                <span>@reg.CourseName</span>
                            }
                        </td>
                        <td>@course.DateRegistered.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </table>

            <br />
            <div>
            <center><button onclick="goBack()">Go Back</button></center>
            </div>
        </div>
    
</body>








